Yolo!

<p>Welcome <%= @client.get('/me').username %> </p>
<p><img src='<%=@client.get('/me').avatar_url%>'> </p>

<p>My tracks: </p>
<% @favorites.each do |favorite| %>
  <li><a href="<%=favorite.permalink_url%>"> <%=favorite.title%></a></li>
<% end %>

<br>
<p>Following: </p>
<% @following.each do |follower| %>
  <li><a href="<%= follower.permalink_url %>"><%= follower.id%></a></li>
<% end %>
